.tags-container {
  margin-left: 15px;
}

.tag {
  background-color: #808080;
  color: #fff;
  border-radius: 5px;
  font-family: 'Futura', 'Times New Roman', serif;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
}
