/**
* Introduction
*/
.intro {
    margin: 60px 0;
    text-align: center;

    .name {
        font-size: 30px;
        font-weight: bold;
    }
}

/**
 * Site header
 */
.site-header {
    padding: 0 10px;
    border-bottom: 1px solid $grey-color-light;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    // float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-description {
    font-size: 14px;
}

.site-nav {
    // float: right;
    line-height: 56px;
    text-transform: uppercase;
    font-size: $nav-font-size;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        font-size: $small-nav-font-size;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-text {
    font-size: 14px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: 35%;
}

.footer-col-2 {
    width: 20%;
}

.footer-col-3 {
    width: 35%;
}

@include media-query($on-laptop) {
    .footer-col-1 {
        width: 35%;
    }

    .footer-col-2 {
        width: 20%;
    }

    .footer-col-3 {
        width: 35%;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    min-height: 700px;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    text-align: center;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 30px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.home-content{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;

    p{
        margin: 15px;
        font-size: 18px;
    }

    @media screen and (max-width: $laptop) {
        width: 70%;
    }

    @media screen and (max-width: $tablet) {
        width: 80%;
    }

    @media screen and (max-width: $mobile) {
        width: 90%;
    }
}

.btn-link{
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    margin: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 110px;
    cursor: pointer;

    &>a{
        color: #fff;
    }

    &:hover {
      background: #CF4647;
    }
}
