@tailwind base;
@tailwind components;
@tailwind utilities;

code[class*='language-'],
pre[class*='language-'] {
  font-size: 0.9em !important;
}

.prose {
  @apply text-gray-800 dark:text-white;
}

.prose code {
  color: #ccc;
}

.prose a {
  @apply dark:text-gray-50;
}

.prose strong {
  @apply dark:text-gray-50;
}

.prose h1,
h2,
h3,
h4,
h5,
h6 {
  @apply dark:text-gray-50;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
}
