/*@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');*/
@import url('https://fonts.googleapis.com/css?family=Buenard|David+Libre|Didact+Gothic|Sumana|Yrsa');

body {
  font-size: 16px;
  line-height: 1.8rem;
}

.main {
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  max-width: 600px;
}

.title {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.5rem;

  padding-bottom: 20px;
}

.bio {
  font-size: 1.25rem;
  font-family: 'Yrsa', serif;
  /*font-family: 'Buenard', serif;*/
  /*font-family: 'Sumana', serif;*/
  /*font-family: 'David Libre', serif;*/
}